server {
    listen 80;
    server_name dond-nginx;
    error_log  /var/log/nginx/error.log debug;
    location / {
        proxy_pass http://vue:8080;
        proxy_set_header Host $host;
    }
    location /sockjs-node {
        proxy_pass http://vue:8080;
        proxy_set_header Host $host;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }
    location /api/ {
        proxy_pass http://lumen:8000/api/;
        proxy_set_header Host localhost;
    }
    location /docs/ {
        proxy_pass http://lumen:8000/docs/;
        proxy_set_header Host localhost;
    }
}